<p-card class="card" [header]="user.name" [subheader]="user.username">
  <ng-template pTemplate="header">
    <div class="col all-center avatar-container">
      <i class="pi pi-user avatar"></i>
    </div>
  </ng-template>

  <ng-template pTemplate="content">
    <div class="row space-between">
      <a href="mailto:{{ user.email }}">{{ user.email }}</a>
      <a href="#">{{ user.website }}</a>
    </div>
    <div class="row space-between">
      <p>Address</p>
      <div class="text-right">
        <p>{{ user.address.street }}</p>
        <p>{{ user.address.suite }}</p>
        <p>{{ user.address.city }}</p>
        <p>{{ user.address.zipcode }}</p>
      </div>
    </div>
    <div class="row space-between">
      <p>Phone</p>
      <p>{{ user.phone }}</p>
    </div>
    <div class="row space-between">
      <p>Works at</p>
      <p>{{ user.company.name }}</p>
    </div>
    <div class="row space-between">
      <div class="job" *ngFor="let bs of user.company.bs.split(' ')">
        {{ bs }}
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="col all-center gap-1 footer-container">
      <q><i>{{ user.company.catchPhrase }}</i></q>
      <a routerLink="">
        <i class="pi pi-home text-lg"></i>
      </a>
    </div>
  </ng-template>
</p-card>
