<p-card class="card" [header]="user.name" [subheader]="user.username">
  <ng-template pTemplate="header">
    <div class="row justify-center">
      <i class="pi pi-user avatar"></i>
    </div>
  </ng-template>
  <ng-template pTemplate="content">
    <div class="row space-between">
      <a href="mailto:{{ user.email }}">{{ user.email }}</a>
      <a href="#">{{ user.website }}</a>
    </div>
    <div class="row space-between">
      <p>Address</p>
      <div class="text-right">
        <p>{{ user.address.street }}</p>
        <p>{{ user.address.suite }}</p>
        <p>{{ user.address.city }}</p>
        <p>{{ user.address.zipcode }}</p>
      </div>
    </div>
    <div class="row space-between">
      <p>Phone</p>
      <p>{{ user.phone }}</p>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <q><i>{{ user.company.catchPhrase }}</i></q>
  </ng-template>
</p-card>
