@import "./styles/variables.scss";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--bg-color);
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.all-center {
  justify-content: center;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.no-decorator {
  text-decoration: none;
}

.text-right {
  text-align: right;
}

.mr-05 {
  margin-right: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.text-lg {
  font-size: 2rem;
}

.text-xl {
  font-size: 6rem;
}
